/* popup.css */
body {
    font-family: Arial, sans-serif;
  }

  #title{
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    color: white;
  }
  #btn-holder{
    width: 11rem;
    border-radius: 0.4rem;
    border-color: white;
    border-width: 0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-style: bold;
    background-color: #3c4362;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    align-self: center;
  }

  .btn-main {
    margin: 10px;
    border-radius: 3px solid;
    width: 10.5rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }
  .background{
    background-color: #2e334a;
    width: 12rem;
  }

  #container{
    border-radius: 0.5rem;
    border-color: white;
    border-width: 0.5rem;
  }

  #bottom{
    margin-top:0.2rem;
  }